<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    {{>links}}
    <link rel="stylesheet" href="/css/contect.css" />


</head>

<body>
    {{>navbar}}
    <div class="header">
        <h3 class="contect"> Contect Us</h3>
    </div>
    <div class="pagebody">

        <div class="allcard container">

            <div class="contect-card">
                <a target="_blank"
                    href="http://www.instagram.com/viraj_patel._">
                    <button type="button" class="btn"><i
                            class="fab fa-instagram"></i></button>
                </a>
            </div>

            <div class="contect-card">
                <a target="_blank" href="http://twitter.com/PadariyaViraj1">
                    <button type="button" class="btn"> <i
                            class="fab fa-twitter"></i></button>
                </a>
            </div>

            <div class="contect-card">
                <a target="_blank"
                    href="http://www.facebook.com/profile.php?id=100016943011872">
                    <button type="button" class="btn"> <i
                            class="fab fa-facebook"></i></button>
                </a>
            </div>

            <div class="contect-card">
                <a target="_blank" href="mailto:padariyaviraj97@gmail.com">
                    <button type="button" class="btn"> <i
                            class="fas fa-at"></i></button>
                </a>
            </div>

            <div class="contect-card">
                <a target="_blank" href="tel:+916352594195">
                    <button type="button" class="btn"> <i
                            class="fas fa-phone-volume"></i></button>
                </a>
            </div>
        </div>

        {{!-- <div class="mainbody">
            <a href="http://"> <i class="fab fa-instagram"></i> </a>
            <a href="http://"> <i class="fab fa-twitter"></i> </a>
            <a href="http://"> <i class="fab fa-facebook"></i> </a>
            <a href="tel:+916352594195"> <i class="fas fa-phone-volume"></i>
            </a>
            <a href="mailto:padariyaviraj97@gmail.com"> <i
                    class="fas fa-at"></i>
            </a>

        </div> --}}
    </div>

    {{>footer}}
</body>

</html>